doctype html
html( lang="en" )
	include _header
	body
		#wrapper
			#canvas(v-cloak)
				#input
					input( type="text" placeholder="Add an item..." v-model="newContent" @keyup.enter="addItem" @keyup.esc='newContent=""' )
					button( @click='addItem' ).button.btn-primary Add
				#todolist
					.item( v-for="(unote, index) in unchecked" :key="unote").info
						i( aria-hidden="true" @click="checkItem(index)").fa.fa-square-o
						span.item-text {{ unote.datetime + " >>>> " + unote.content }}
						.submenu.button.btn-danger( @click="delItemUnchecked(index)" )
							span.delete
								i( aria-hidden="true" ).fa.fa-trash-o
				#donelist
					.item( v-for="(cnote, index) in checked" :key="cnote").success
						i( aria-hidden="true" @click="unchkItem(index)").fa.fa-check-square-o
						span.item-text {{ cnote.datetime + cnote.content }}
						.submenu.button.btn-danger( @click="delItemChecked(index)" )
							span.delete
								i( aria-hidden="true" ).fa.fa-trash-o
		script(src="https://unpkg.com/vue@next" type="text/javascript")
		script(src="js/scripts.js")